<header class="sticky flex flex-row justify-between items-center py-5 px-16">
  <h1 class="font-bold text-[24px]">FUF AFRICA</h1>
  <div class="flex text-[#525560]">
    <h4 class="mx-6 font-medium text-[16px] nav-active t-shadow">Home</h4>
    <h4 class="mx-6 font-medium text-[16px] t-shadow">About us</h4>
    <h4 class="mx-6 font-medium text-[16px] t-shadow">What We Do</h4>
    <h4 class="mx-6 font-medium text-[16px] t-shadow">Media</h4>
    <h4 class="mx-6 font-medium text-[16px] t-shadow">Contact</h4>
  </div>
  <button 
    class="rounded-md bg-[#1D2130] text-white text-[16px] font-medium py-[10px] px-[32px] donate-btn">Donate</button>
</header>