<footer class="bg-[#0B0706] p-16">
  <div class="flex text-white">
    <h1 class="cursor-pointer font-bold text-[24px] mr-28 min-w-fit">FUF AFRICA</h1>
    <ul class="mr-28 min-w-fit">
      <li class="cursor-pointer font-bold">Home</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">About us</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">Team</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">What we do</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">Contact</li>
    </ul>
    <ul class="mr-28 min-w-fit">
      <li class="cursor-pointer font-bold">More</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">Projects</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">Events</li>
      <li class="cursor-pointer font-light text-[14px] mt-6" routerLink="/donate">Donate</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">Blog</li>
    </ul>
    <ul class="mr-28 min-w-fit">
      <li class="cursor-pointer font-bold">Connect</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">Facebook</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">Instagram</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">Twitter</li>
      <li class="cursor-pointer font-light text-[14px] mt-6">LinkedIn</li>
    </ul>
    <div class="w-[100%]">
      <h1 class="font-bold text-[40px] text-white mb-10">Subscribe to our newsletters</h1>
      <div class="flex relative">
        <input type="email" placeholder="Your email" class=" rounded-md py-[16px] pl-8 pr-[150px] text-[16px] w-[100%] bg-black border-solid border-white border-[.5px]">
        <button class="rounded-md bg-white text-black text-[16px] font-medium px-[28px] absolute top-0 right-0 h-[100%]">Subscribe</button>
      </div>
    </div>
  </div>
</footer>