<fuf-header></fuf-header>

<div class="p-16 bg-[#FCEDC6]">
  <div class="grid grid-cols-2 gap-x-10 mb-10">
    <div>
      <div class="flex items-center mb-5">
        <div class="bg-[#1D2130] h-[2px] w-[72px] mr-[20px]"></div>
        <h4 class="text-[#1D2130] font-bold text-[16px] mt-0">CONTACT US</h4>
      </div>
      <h4 class="font-bold text-[40px] mb-10 text-[#1D2130]">We'd love to hear from you</h4>
      <p class="mb-10 text-[16px] font-light text-[#1D2130]">Have any question in mind or want to enquire? Please feel free to contact us through the form or the following details.</p>
    </div>
    <div>
      <div class="mb-10">
        <h4 class="font-bold text-[24px] mb-3 text-[#1D2130]">Let's talk!</h4>
        <h6 class="font-light text-[16px] mb-1 text-[#1D2130]"><a href="tel:+2349012346514">(+234) 901 234 6514</a></h6>
        <h6 class="font-light text-[16px] text-[#1D2130]"><a href="mailto:hello@largerthani.com">{{ "hello@largerthani.com" }}</a></h6>
      </div>
      <div>
        <h4 class="font-bold text-[24px] mb-3 text-[#1D2130]">Head Office</h4>
        <h6 class="font-light text-[16px] text-[#1D2130]">8 Brewery Drive, Lagos, Nigeria.</h6>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <a class="text-[24px]" href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
    <a class="mx-10 text-[24px]" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
    <a class="text-[24px]" href="https://www.x.com"><i class="fa-brands fa-x-twitter"></i></a>
  </div>
</div>

<div class="p-16 flex justify-center">
  <form class="flex flex-col w-[60%] items-center">
    <div class="mb-5 w-[100%] grid md:grid-cols-2 md:gap-x-4">
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="first_name" id="first_name" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-[1px] border-black appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " required />
        <label for="first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="last_name" id="last_name" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-[1px] border-black appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " required />
        <label for="last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
      </div>
    </div>
    <div class="mb-5 w-[100%] grid md:grid-cols-2 md:gap-x-4">
      <div class="relative z-0 w-full mb-5 group">
        <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-[1px] border-black appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " required />
        <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="subject" id="subject" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-[1px] border-black appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " required />
        <label for="subject" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Subject</label>
      </div>
    </div>
    <div class="mb-5 w-[100%]">
      <label class="text-[12px] font-medium text-gray-500" for="message">Message</label>
      <textarea name="message" id="message" class="border-solid border-black border-[1px] w-[100%] h-[150px] resize-none rounded-md px-3 pt-3"></textarea>
    </div>
    <button class="rounded-md bg-[#F2C94C] text-black text-[16px] font-normal py-[10px] w-fit px-[24px]">Send Message</button>
  </form>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.987640310112!2d3.715570275817842!3d6.892081118768758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bd81639e54ec3%3A0x9129b4a8c8367e52!2sBabcock%20University%20Ilishan%20Remo!5e0!3m2!1sen!2sng!4v1722339332108!5m2!1sen!2sng" [width]="mapWidth" [height]="mapHeight" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<fuf-footer></fuf-footer>
