<fuf-header></fuf-header>

<div class="px-16 py-12 bg-split">
  <div class="px-14">
    <div class="flex items-start">
      <div class="flex items-center mb-5">
        <div class="bg-[#1D2130] h-[2px] w-[72px] mr-[20px]"></div>
      </div>
      <div>
        <h4 class="text-[#1D2130] font-bold text-[16px] mb-6 leading-[0]">KNOW ABOUT US</h4>
        <h4 class="font-bold text-[56px] mb-5 text-[#1D2130]">We are a non-governmental organization</h4>
      </div>
      <div class="w-[400px]">
        <h4 class="font-bold text-[16px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quas voluptatibus illum nesciunt? Nobis eos</h4>
        <p class="text-[16px] font-light text-[#1D2130]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Suspendisse varius enim elementum tristique.</p>
      </div>
    </div>
  </div>

  <!-- replace with video -->
  <img src="group-pics.jpeg" alt="Picture as a group" class="w-full rounded-md h-[450px] object-cover my-20">
  <div class="px-14 grid grid-cols-2 gap-x-14 mb-20">
    <div>
      <h4 class="font-bold text-[16px]">OUR MISSION</h4>
      <h4 class="font-bold text-[28px]">We make sure to provide inclusive care for children with special needs</h4>
      <p class="font-light text-[16px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, maxime asperiores? Asperiores ea molestias omnis quis rem necessitatibus quia, nemo fugit velit. Quam commodi illo mollitia inventore sed voluptas delectus.
      Magni recusandae quasi itaque nesciunt cum dignissimos voluptate pariatur voluptas placeat. Fugit suscipit unde laudantium rerum saepe iste illum a pariatur, optio, ipsam tempora sunt dolore laborum nam, officiis eaque?</p>
    </div>
    <div>
      <h4 class="font-bold text-[16px]">OUR VISION</h4>
      <h4 class="font-bold text-[28px]">Provide more inclusive care to children around the world</h4>
      <p class="font-light text-[16px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, maxime asperiores? Asperiores ea molestias omnis quis rem necessitatibus quia, nemo fugit velit. Quam commodi illo mollitia inventore sed voluptas delectus.
      Magni recusandae quasi itaque nesciunt cum dignissimos voluptate pariatur voluptas placeat. Fugit suscipit unde laudantium rerum saepe iste illum a pariatur, optio, ipsam tempora sunt dolore laborum nam, officiis eaque?</p>
    </div>
  </div>
</div>

<div class="px-16 py-12">
  <div class="bg-[#F2C94C] p-10 flex items-center rounded-md">
    <div class="w-[50%] pr-[50px]">
      <h4 class="font-bold text-[16px] mb-20">OUR JOURNEY</h4>
      <p class="font-light text-[16px] text-[#61501E]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat illo natus aliquid eaque ut voluptate id tenetur minima, rerum quia dolore inventore? Sint, pariatur tempore modi vero ea rerum quasi!
      Consectetur aut deserunt porro at, facere omnis obcaecati cup</p>
      <div class="flex mt-10">
        <div>
          <h4 class="font-medium text-[24px]">34M+</h4>
          <h6 class="font-medium text-[12px]">Donation Received</h6>
        </div>
        <div class="mx-10">
          <h4 class="font-medium text-[24px]">400+</h4>
          <h6 class="font-medium text-[12px]">Volunteers</h6>
        </div>
        <div>
          <h4 class="font-medium text-[24px]">20+</h4>
          <h6 class="font-medium text-[12px]">Care Homes</h6>
        </div>
      </div>
    </div>
    <img src="IMG_1015.JPG" alt="Picture" class="rounded-md w-[50%] h-[400px]">
  </div>
</div>

<div class="px-16 py-12">
  <div class="flex items-center text-center flex-col mb-10">
    <h4 class="text-[48px] font-bold">Meet our team</h4>
    <p class="font-light text-[16px] text-[#525560] max-w-[50%]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam soluta sequi cupiditate iure delectus nulla ea ipsum voluptate sunt eius fugiat sit minima</p>
  </div>
  <div class="grid grid-cols-4 gap-y-10">
    <div class="text-center flex flex-col items-center">
      <div class="mb-5 bg-[#7E7E7E] h-[320px] w-[296px] rounded-md"></div>
      <!-- add picture -->
      <!-- <img src="" alt="Picture of team member">  -->
      <h4 class="text-[20px] font-medium">Linus Torvalds</h4>
      <h6 class="text-[12px] font-medium text-[#ADAEB3]">Co-Founder, CEO</h6>
      <div class="flex justify-center">
        <a class="text-[24px]" href="https://www.facebook.com"><i class="text-[#4A4D59] fa-brands fa-facebook"></i></a>
        <a class="mx-10 text-[24px]" href="https://www.x.com"><i class="text-[#4A4D59] fa-brands fa-x-twitter"></i></a>
        <a class="text-[24px]" href="https://www.linkedin.com"><i class="text-[#4A4D59] fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="text-center flex flex-col items-center">
      <div class="mb-5 bg-[#7E7E7E] h-[320px] w-[296px] rounded-md"></div>
      <!-- add picture -->
      <!-- <img src="" alt="Picture of team member">  -->
      <h4 class="text-[20px] font-medium">Linus Torvalds</h4>
      <h6 class="text-[12px] font-medium text-[#ADAEB3]">Co-Founder, CEO</h6>
      <div class="flex justify-center">
        <a class="text-[24px]" href="https://www.facebook.com"><i class="text-[#4A4D59] fa-brands fa-facebook"></i></a>
        <a class="mx-10 text-[24px]" href="https://www.x.com"><i class="text-[#4A4D59] fa-brands fa-x-twitter"></i></a>
        <a class="text-[24px]" href="https://www.linkedin.com"><i class="text-[#4A4D59] fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="text-center flex flex-col items-center">
      <div class="mb-5 bg-[#7E7E7E] h-[320px] w-[296px] rounded-md"></div>
      <!-- add picture -->
      <!-- <img src="" alt="Picture of team member">  -->
      <h4 class="text-[20px] font-medium">Linus Torvalds</h4>
      <h6 class="text-[12px] font-medium text-[#ADAEB3]">Co-Founder, CEO</h6>
      <div class="flex justify-center">
        <a class="text-[24px]" href="https://www.facebook.com"><i class="text-[#4A4D59] fa-brands fa-facebook"></i></a>
        <a class="mx-10 text-[24px]" href="https://www.x.com"><i class="text-[#4A4D59] fa-brands fa-x-twitter"></i></a>
        <a class="text-[24px]" href="https://www.linkedin.com"><i class="text-[#4A4D59] fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="text-center flex flex-col items-center">
      <div class="mb-5 bg-[#7E7E7E] h-[320px] w-[296px] rounded-md"></div>
      <!-- add picture -->
      <!-- <img src="" alt="Picture of team member">  -->
      <h4 class="text-[20px] font-medium">Linus Torvalds</h4>
      <h6 class="text-[12px] font-medium text-[#ADAEB3]">Co-Founder, CEO</h6>
      <div class="flex justify-center">
        <a class="text-[24px]" href="https://www.facebook.com"><i class="text-[#4A4D59] fa-brands fa-facebook"></i></a>
        <a class="mx-10 text-[24px]" href="https://www.x.com"><i class="text-[#4A4D59] fa-brands fa-x-twitter"></i></a>
        <a class="text-[24px]" href="https://www.linkedin.com"><i class="text-[#4A4D59] fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="text-center flex flex-col items-center">
      <div class="mb-5 bg-[#7E7E7E] h-[320px] w-[296px] rounded-md"></div>
      <!-- add picture -->
      <!-- <img src="" alt="Picture of team member">  -->
      <h4 class="text-[20px] font-medium">Linus Torvalds</h4>
      <h6 class="text-[12px] font-medium text-[#ADAEB3]">Co-Founder, CEO</h6>
      <div class="flex justify-center">
        <a class="text-[24px]" href="https://www.facebook.com"><i class="text-[#4A4D59] fa-brands fa-facebook"></i></a>
        <a class="mx-10 text-[24px]" href="https://www.x.com"><i class="text-[#4A4D59] fa-brands fa-x-twitter"></i></a>
        <a class="text-[24px]" href="https://www.linkedin.com"><i class="text-[#4A4D59] fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="text-center flex flex-col items-center">
      <div class="mb-5 bg-[#7E7E7E] h-[320px] w-[296px] rounded-md"></div>
      <!-- add picture -->
      <!-- <img src="" alt="Picture of team member">  -->
      <h4 class="text-[20px] font-medium">Linus Torvalds</h4>
      <h6 class="text-[12px] font-medium text-[#ADAEB3]">Co-Founder, CEO</h6>
      <div class="flex justify-center">
        <a class="text-[24px]" href="https://www.facebook.com"><i class="text-[#4A4D59] fa-brands fa-facebook"></i></a>
        <a class="mx-10 text-[24px]" href="https://www.x.com"><i class="text-[#4A4D59] fa-brands fa-x-twitter"></i></a>
        <a class="text-[24px]" href="https://www.linkedin.com"><i class="text-[#4A4D59] fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="text-center flex flex-col items-center">
      <div class="mb-5 bg-[#7E7E7E] h-[320px] w-[296px] rounded-md"></div>
      <!-- add picture -->
      <!-- <img src="" alt="Picture of team member">  -->
      <h4 class="text-[20px] font-medium">Linus Torvalds</h4>
      <h6 class="text-[12px] font-medium text-[#ADAEB3]">Co-Founder, CEO</h6>
      <div class="flex justify-center">
        <a class="text-[24px]" href="https://www.facebook.com"><i class="text-[#4A4D59] fa-brands fa-facebook"></i></a>
        <a class="mx-10 text-[24px]" href="https://www.x.com"><i class="text-[#4A4D59] fa-brands fa-x-twitter"></i></a>
        <a class="text-[24px]" href="https://www.linkedin.com"><i class="text-[#4A4D59] fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="text-center flex flex-col items-center">
      <div class="mb-5 bg-[#7E7E7E] h-[320px] w-[296px] rounded-md"></div>
      <!-- add picture -->
      <!-- <img src="" alt="Picture of team member">  -->
      <h4 class="text-[20px] font-medium">Linus Torvalds</h4>
      <h6 class="text-[12px] font-medium text-[#ADAEB3]">Co-Founder, CEO</h6>
      <div class="flex justify-center">
        <a class="text-[24px]" href="https://www.facebook.com"><i class="text-[#4A4D59] fa-brands fa-facebook"></i></a>
        <a class="mx-10 text-[24px]" href="https://www.x.com"><i class="text-[#4A4D59] fa-brands fa-x-twitter"></i></a>
        <a class="text-[24px]" href="https://www.linkedin.com"><i class="text-[#4A4D59] fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="px-16 py-24 justify-center items-center">
  <div class="relative w-[100%] h-fit overlay">
    <img src="left-1.JPG" alt="An image of happy kids" class="w-[100%] h-[384px] object-cover rounded-lg">
    <div class="absolute top-[50%] left-[50%] center-abs z-[2] w-[70%]">
      <h4 class="font-bold text-white text-[48px] text-center leading-tight mb-10">You can contribute to provide a place for children with special needs!</h4>
      <div class="flex justify-center">
        <button class="rounded-md bg-[#F2C94C] text-black text-[16px] font-medium px-[32px] py-[16px] mr-10" (click)="openModal()">Join as a volunteer</button>
        <button class="rounded-md bg-white text-black text-[16px] font-medium px-[32px] py-[16px] mr-10" routerLink="/donate">Donate</button>
      </div>
    </div>
  </div>
  <div class="flex items-center my-16">
    <h4 class="font-medium text-[40px] min-w-fit mr-10">Our Events</h4>
    <div class="h-[1px] bg-[#E5E5E5] w-[100%]"></div>
  </div>
  <div class="flex justify-between">
    <div class="flex items-start cursor-pointer bg-[#F2C94C] p-10 rounded-xl w-[45%]">
      <div class="mr-5">
        <h1 class="font-medium text-[48px] leading-none">13</h1>
        <h5 class="font-medium text-[16px]">APR</h5>
      </div>
      <div class="flex items-center">
        <div class="w-[80%]">
          <div class="flex items-center mb-3">
            <h4 class="font-medium text-[16px] mr-5">NEXT EVENTS</h4>
            <div class="h-[2px] bg-black w-[44px]"></div>
          </div>
          <h4 class="font-medium text-[28px] leading-tight">A day with our wonderful children</h4>
        </div>
        <img src="arrow.svg" alt="An image of an arrow" class="w-[50px] h-[50px]">
      </div>
    </div>
    <div class="flex items-start cursor-pointer bg-[#F2C94C] p-10 rounded-xl w-[45%]">
      <div class="mr-5">
        <h1 class="font-medium text-[48px] leading-none">25</h1>
        <h5 class="font-medium text-[16px]">APR</h5>
      </div>
      <div class="flex items-center">
        <div class="w-[80%]">
          <div class="flex items-center mb-3">
            <h4 class="font-medium text-[16px] mr-5">NEXT EVENTS</h4>
            <div class="h-[2px] bg-black w-[44px]"></div>
          </div>
          <h4 class="font-medium text-[28px] leading-tight">Seminar: Caring for children with autism</h4>
        </div>
        <img src="arrow.svg" alt="An image of an arrow" class="w-[50px] h-[50px]">
      </div>
    </div>
  </div>
</div>

<fuf-footer></fuf-footer>