.overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control darkness */
  z-index: 1; /* Ensure the pseudo-element is behind the content */
  border-radius: 20px;
}

.center-abs {
  transform: translateX(-50%) translateY(-50%);
}

.bg-split {
  background: linear-gradient(white 50%, #FCEDC6 50%)
}