<fuf-header></fuf-header>

<div class="py-10 md:py-16 px-5 md:px-40">
  <div class="md:flex items-start">
    <div class="flex items-center mb-5">
      <div class="bg-[#1D2130] h-[2px] w-[72px] mr-[20px]"></div>
      <h4 class="text-[#1D2130] font-bold text-[16px] leading-[0] md:hidden">
        OUR PROJECT
      </h4>
    </div>
    <div>
      <h4 class="text-[#1D2130] font-bold text-[16px] mb-6 leading-[0] hidden md:block">
        OUR PROJECT
      </h4>
      <h4 class="font-bold text-[30px] md:text-[56px] mb-5 text-[#1D2130]">
        Mission Smile 1k: Outdoor charity outreach
      </h4>
      <p class="mb-5 text-[16px] font-light text-[#1D2130]">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi
        perferendis saepe modi molestias dolorem excepturi optio, nihil
        consectetur assumenda adipisci. Labore voluptatibus minus aut accusamus
        eos saepe quis id nam. Ipsum vero distinctio saepe minus error fuga
        maiores. Iusto repudiandae, odio totam doloribus nihil esse fuga at
        blanditiis cupiditate excepturi pariatur unde porro fugiat tenetur
        magnam officiis quas illum deserunt?
      </p>
      <p class="mb-5 text-[16px] font-light text-[#1D2130]">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi
        perferendis saepe modi molestias dolorem excepturi optio, nihil
        consectetur assumenda adipisci. Labore voluptatibus minus aut accusamus
        eos saepe quis id nam. Ipsum vero distinctio saepe minus error fuga
        maiores. Iusto repudiandae, odio totam doloribus nihil esse fuga at
        blanditiis cupiditate excepturi pariatur unde porro fugiat tenetur
        magnam officiis quas illum deserunt?
      </p>
      <p class="mb-5 text-[16px] font-light text-[#1D2130]">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi
        perferendis saepe modi molestias dolorem excepturi optio, nihil
        consectetur assumenda adipisci. Labore voluptatibus minus aut accusamus
        eos saepe quis id nam. Ipsum vero distinctio saepe minus error fuga
        maiores. Iusto repudiandae, odio totam doloribus nihil esse fuga at
        blanditiis cupiditate excepturi pariatur unde porro fugiat tenetur
        magnam officiis quas illum deserunt?
      </p>
      <img src="IMG_1022.JPG" alt="Image of banner" class="my-5 rounded-md h-[400px] w-full object-cover">
      <p class="mb-5 text-[16px] font-light text-[#1D2130]">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi
        perferendis saepe modi molestias dolorem excepturi optio, nihil
        consectetur assumenda adipisci. Labore voluptatibus minus aut accusamus
        eos saepe quis id nam. Ipsum vero distinctio saepe minus error fuga
        maiores. Iusto repudiandae, odio totam doloribus nihil esse fuga at
        blanditiis cupiditate excepturi pariatur unde porro fugiat tenetur
        magnam officiis quas illum deserunt?
      </p>
    </div>
  </div>
</div>

<div class="px-5 md:px-40 py-10 md:py-20 bg-[#FCEDC6]">
  <div class="md:grid grid-cols-2">
    <div class="flex items-start mb-10">
      <img src="edit-square.svg" alt="An icon" class="mr-5" />
      <div>
        <h4 class="font-bold text-[22px] leading-none mb-2">
          20+ orphanage visit in 2 months
        </h4>
        <p class="font-light text-[16px]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </div>
    </div>
    <div class="flex items-start mb-10">
      <img src="Category.svg" alt="An icon" class="mr-5" />
      <div>
        <h4 class="font-bold text-[22px] leading-none mb-2">
          230 People Have donated
        </h4>
        <p class="font-light text-[16px]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </div>
    </div>
    <div class="flex items-start mb-10">
      <img src="gallery-icon.svg" alt="An icon" class="mr-5" />
      <div>
        <h4 class="font-bold text-[22px] leading-none mb-2">
          30+ people joined
        </h4>
        <p class="font-light text-[16px]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </div>
    </div>
    <div class="flex items-start">
      <img src="Discovery.svg" alt="An icon" class="mr-5" />
      <div>
        <h4 class="font-bold text-[22px] leading-none mb-2">
          1.2m Raised for this initiate
        </h4>
        <p class="font-light text-[16px]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="px-5 md:px-16 md:py-12 py-5">
  <div class="flex items-center mb-5">
    <div class="bg-black h-[2px] w-[72px] mr-[20px]"></div>
    <h4 class="font-bold text-[16px] mt-0">MORE PROJECTS</h4>
  </div>
  <div class="md:flex justify-center">
    <div class="relative w-fit h-fit md:mr-16 md:mb-0 mb-3 overlay rounded-[20px]">
      <img
        src="left-1.JPG"
        class="w-[420px] h-[410px] rounded-[20px]"
        alt="An image of happy children during and outreach"
      />
      <div class="absolute top-[50%] left-[50%] center-abs w-[80%] z-[2]">
        <h4 class="text-white font-bold text-[28px] mb-8">
          Mission smile 1k: Outdoor charity
        </h4>
        <p class="text-white font-light text-[16px] mb-20">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
        <button
          class="rounded-md bg-white text-black text-[16px] font-medium px-[32px] py-[16px] mr-10"
          routerLink="/project-read-more"
        >
          Learn more
        </button>
      </div>
    </div>
    <div class="relative w-fit h-fit md:mr-16 md:mb-0 mb-3 overlay rounded-[20px]">
      <img
        src="excursion.jpeg"
        class="w-[420px] h-[410px] rounded-[20px]"
        alt="An image of happy children during and outreach"
      />
      <div class="absolute top-[50%] left-[50%] center-abs w-[80%] z-[2]">
        <h4 class="text-white font-bold text-[28px] mb-8">Weekly excursions</h4>
        <p class="text-white font-light text-[16px] mb-20">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
        <button
          class="rounded-md bg-white text-black text-[16px] font-medium px-[32px] py-[16px] mr-10"
          routerLink="/project-read-more"
        >
          Learn more
        </button>
      </div>
    </div>
    <div class="relative w-fit h-fit overlay rounded-[20px]">
      <img
        src="right-1.JPG"
        class="w-[420px] h-[410px] rounded-[20px]"
        alt="An image of happy children during and outreach"
      />
      <div class="absolute top-[50%] left-[50%] center-abs w-[80%] z-[2]">
        <h4 class="text-white font-bold text-[28px] mb-8">
          Monthly public awareness
        </h4>
        <p class="text-white font-light text-[16px] mb-20">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
        <button
          class="rounded-md bg-white text-black text-[16px] font-medium px-[32px] py-[16px] mr-10"
          routerLink="/project-read-more"
        >
          Learn more
        </button>
      </div>
    </div>
  </div>
</div>

<div class="px-5 md:px-16 md:py-12 py-5 justify-center items-center">
  <div class="relative w-[100%] h-fit overlay">
    <img src="left-1.JPG" alt="An image of happy kids" class="w-[100%] h-[384px] object-cover rounded-lg">
    <div class="absolute top-[50%] left-[50%] center-abs z-[2] w-[90%] md:w-[70%]">
      <h4 class="font-bold text-white text-[25px] md:text-[48px] text-center leading-tight mb-10">You can contribute to provide a place for children with special needs!</h4>
      <div class="flex justify-center">
        <button class="rounded-md bg-[#F2C94C] text-black text-[16px] font-medium px-[16px] md:px-[32px] py-[8px] md:py-[16px] mr-10" (click)="openModal()">Join as a volunteer</button>
        <button class="rounded-md bg-white text-black text-[16px] font-medium px-[16px] md:px-[32px] py-[8px] md:py-[16px] mr-10" routerLink="/donate">Donate</button>
      </div>
    </div>
  </div>
</div>

<fuf-footer></fuf-footer>
