<fuf-header></fuf-header>
<div class="px-16 py-12 first-section h-[70vh]">
  <h1 class="text-white font-bold text-[96px] leading-[110px] w-[60vw] mb-10">We spread compassion, we create smiles</h1>
  <div class="flex mb-20">
    <button class="rounded-md bg-white text-black text-[16px] font-medium px-[32px] py-[16px] mr-10">What we do</button>
    <button class="text-white font-medium text-[16px] flex items-center">
      <i class="fa-solid fa-circle-play text-[19px] mr-2"></i>
      Play Video
    </button>
  </div>
  <div class="flex items-center">
    <h4 class="font-medium text-white text-[18px] min-w-fit">230 children under our care</h4>
    <div class="bg-white h-[1px] w-[100%] mx-5"></div>
    <h4 class="font-medium text-white text-[18px] min-w-fit">58 donations collected</h4>
  </div>
</div>
<fuf-footer></fuf-footer>