<fuf-header></fuf-header>

<div class="px-16 py-12 first-section h-[70vh]">
  <h1 class="text-white font-bold text-[96px] leading-[110px] w-[60vw] mb-10">We spread compassion, we create smiles</h1>
  <div class="flex mb-20">
    <button class="rounded-md bg-white text-black text-[16px] font-medium px-[32px] py-[16px] mr-10">What we do</button>
    <button class="text-white font-medium text-[16px] flex items-center">
      <i class="fa-solid fa-circle-play text-[19px] mr-2"></i>
      Play Video
    </button>
  </div>
  <div class="flex items-center">
    <h4 class="font-medium text-white text-[18px] min-w-fit">230 children under our care</h4>
    <div class="bg-white h-[1px] w-[100%] mx-5"></div>
    <h4 class="font-medium text-white text-[18px] min-w-fit">58 donations collected</h4>
  </div>
</div>

<div class="px-16 py-36 flex items-center">
  <div class="mr-20">
    <div class="flex items-center mb-5">
      <div class="bg-black h-[2px] w-[72px] mr-[20px]"></div>
      <h4 class="font-bold text-[16px] mt-0">KNOW ABOUT US</h4>
    </div>
    <div class="ml-[92px]">
      <h1 class="font-bold text-[40px] mb-10">We provide a place for children with special needs</h1>
      <p class="mb-5 text-[16px] font-light">Lorem ipsum, dolum, tempore numquam optio libero assumenda ipsum eos eius officia itaque ad atque minus accusamus, cupiditate odit et nostrum blanditiis similique perspiciatis? Rem, voluptates aspernatur?</p>
      <p class="mb-10 text-[16px] font-light">Lorem ipsum doenderit nam quod fuga itaque sint doloremque ratione aut laudantium, voluptate optio eum?
      Minus illum voluptates aliquid rem consectetur , maxime deleniti itaque voluptas, distinctio molestias nobis accusantium animi soluta perspiciatis harum ut eum quo sit perferendis eius?</p>
      <button class="rounded-md bg-[#F2C94C] text-black text-[16px] font-medium px-[32px] py-[16px] mr-10">Learn more</button>
    </div>
  </div>
  <div class="relative min-w-fit h-fit">
    <img src="kids-happy.png" alt="A bunch of happy kids" class="w-[480px] h-[580px]">
    <img src="play.svg" alt="A play button" class="absolute top-[50%] left-[50%] center-abs">
  </div>
</div>

<div class="px-16 py-24 flex items-center bg-[#FCEDC6]">
  <div class="mr-20">
    <div class="flex items-center mb-5">
      <div class="bg-black h-[2px] w-[72px] mr-[20px]"></div>
      <h4 class="font-bold text-[16px] mt-0">WHAT WE DO</h4>
    </div>
    <div class="ml-[92px]">
      <h1 class="font-bold text-[40px] mb-10">Some services we provide</h1>
      <p class="mb-10 text-[16px] font-light">Lorem ipsum, dolum, tempore numquam optio libero assumenda ipsum eos eius officia itaque ad atque minus accusamus, cupiditate odit et nostrum blanditiis similique perspiciatis? Rem, voluptates aspernatur?</p>
      <div class="pl-5 border-l-2 border-solid border-[#E5E5E5] w-[500px]">
        <div class="flex items-start mb-5">
          <img src="building.svg" alt="An icon" class="mr-5">
          <div>
            <h4 class="font-bold text-[22px] leading-none mb-2">Family support</h4>
            <p class="font-light text-[16px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
          </div>
        </div>
        <div class="flex items-start mb-5">
          <img src="garden.svg" alt="An icon" class="mr-5">
          <div>
            <h4 class="font-bold text-[22px] leading-none mb-2">Health benefits</h4>
            <p class="font-light text-[16px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
          </div>
        </div>
        <div class="flex items-start mb-5">
          <img src="waves.svg" alt="An icon" class="mr-5">
          <div>
            <h4 class="font-bold text-[22px] leading-none mb-2">Scholarships</h4>
            <p class="font-light text-[16px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
          </div>
        </div>
        <div class="flex items-start">
          <img src="dog.svg" alt="An icon" class="mr-5">
          <div>
            <h4 class="font-bold text-[22px] leading-none mb-2">Therapy</h4>
            <p class="font-light text-[16px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="min-w-fit h-fit">
    <img src="justice-and-kid.png" alt="Justice with a little kid" class="w-[480px] h-[580px]">
  </div>
</div>

<fuf-footer></fuf-footer>