<fuf-header></fuf-header>

<div class="px-8 md:px-40 py-10 md:py-20 bg-[#FCEDC6]">
  <h4 class="font-bold text-[30px] md:text-[48px] mb-5 md:mb-10">A day with our wonderful children</h4>
  <div class="grid grid-cols-2">
    <div class="flex items-center">
      <i class="fa fa-location-dot mr-3"></i>
      <h5 class="font-light text-[16px]">Opp Opolo round about, Yenagoa, Bayelsa, Nigeria</h5>
    </div>
    <div class="flex items-center">
      <i class="fa-regular fa-calendar mr-3"></i>
      <h5 class="font-light text-[16px]">April 13, 2022 8:30 AM</h5>
    </div>
  </div>
</div>

<div class="px-8 md:px-40 py-5 md:py-10">
  <h1 class="font-bold text-[30px] md:text-[56px] mb-5 text-[#1D2130]">About</h1>
  <p class="mb-5 text-[16px] font-light text-[#1D2130]">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque tempore
    molestiae voluptate esse, at vitae qui quam consequatur pariatur iure, modi
    eos saepe ipsum tenetur iste hic ratione in itaque. Tempore optio quos
    repudiandae voluptates? Eaque sed commodi pariatur deserunt cum voluptatum,
    aliquam cumque, eos corrupti, sapiente quasi eveniet dolore. Eum enim in
    eius, voluptas molestias quia odio repudiandae suscipit.
  </p>
  <p class="mb-5 text-[16px] font-light text-[#1D2130]">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque tempore
    molestiae voluptate esse, at vitae qui quam consequatur pariatur iure, modi
    eos saepe ipsum tenetur iste hic ratione in itaque. Tempore optio quos
    repudiandae voluptates? Eaque sed commodi pariatur deserunt cum voluptatum,
    aliquam cumque, eos corrupti, sapiente quasi eveniet dolore. Eum enim in
    eius, voluptas molestias quia odio repudiandae suscipit.
  </p>
  <p class="mb-5 text-[16px] font-light text-[#1D2130]">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque tempore
    molestiae voluptate esse, at vitae qui quam consequatur pariatur iure, modi
    eos saepe ipsum tenetur iste hic ratione in itaque. Tempore optio quos
    repudiandae voluptates? Eaque sed commodi pariatur deserunt cum voluptatum,
    aliquam cumque, eos corrupti, sapiente quasi eveniet dolore. Eum enim in
    eius, voluptas molestias quia odio repudiandae suscipit.
  </p>
  <img src="IMG_7717.jpg" alt="Picture of kids" class="my-5 rounded-md h-[400px] w-full object-cover" />
  <p class="mb-5 text-[16px] font-light text-[#1D2130]">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque tempore
    molestiae voluptate esse, at vitae qui quam consequatur pariatur iure, modi
    eos saepe ipsum tenetur iste hic ratione in itaque. Tempore optio quos
    repudiandae voluptates? Eaque sed commodi pariatur deserunt cum voluptatum,
    aliquam cumque, eos corrupti, sapiente quasi eveniet dolore. Eum enim in
    eius, voluptas molestias quia odio repudiandae suscipit.
  </p>
</div>

<div class="px-8 md:px-40 md:py-10 py-5 justify-center items-center">
  <div class="flex items-center md:my-16 md:mb-0 mb-5">
    <h4 class="font-medium text-[25px] md:text-[40px] min-w-fit mr-10">Other Events</h4>
    <div class="h-[1px] bg-[#E5E5E5] w-[100%]"></div>
  </div>
  <div class="flex flex-col items-center">
    <div
      class="flex items-start cursor-pointer bg-[#F2C94C] p-5 md:p-10 rounded-xl w-[100%] md:mb-10 mb-5"
      routerLink="/events-read-more"
    >
      <div class="mr-5">
        <h1 class="font-medium text-[30px] md:text-[48px] leading-none">13</h1>
        <h5 class="font-medium text-[12px] md:text-[16px]">APR</h5>
      </div>
      <div class="flex items-center justify-center w-full">
        <div class="w-[80%]">
          <div class="flex items-center mb-3">
            <h4 class="font-medium text-[12px] md:text-[16px] mr-5">NEXT EVENTS</h4>
            <div class="h-[2px] bg-black w-[44px]"></div>
          </div>
          <h4 class="font-medium text-[20px] md:text-[28px] leading-tight">
            A day with our wonderful children
          </h4>
        </div>
        <img
          src="arrow.svg"
          alt="An image of an arrow"
          class="w-[50px] h-[50px]"
        />
      </div>
    </div>
    <div
      class="flex items-start cursor-pointer bg-[#F2C94C] p-5 md:p-10 rounded-xl w-[100%]"
      routerLink="/events-read-more"
    >
      <div class="mr-5">
        <h1 class="font-medium text-[30px] md:text-[48px] leading-none">25</h1>
        <h5 class="font-medium text-[12px] md:text-[16px]">APR</h5>
      </div>
      <div class="flex items-center justify-center w-full">
        <div class="w-[80%]">
          <div class="flex items-center mb-3">
            <h4 class="font-medium text-[12px] md:text-[16px] mr-5">NEXT EVENTS</h4>
            <div class="h-[2px] bg-black w-[44px]"></div>
          </div>
          <h4 class="font-medium text-[20px] md:text-[28px] leading-tight">
            Seminar: Caring for children with autism
          </h4>
        </div>
        <img
          src="arrow.svg"
          alt="An image of an arrow"
          class="w-[50px] h-[50px]"
        />
      </div>
    </div>
  </div>
</div>

<fuf-footer></fuf-footer>
