<fuf-header></fuf-header>

<div class="px-5 md:px-16 py-12 first-section min-h-[70vh]">
  <h1 class="text-white font-bold text-[65px] md:text-[96px] md:leading-[110px] md:w-[60vw] mb-10">We spread compassion, we create smiles</h1>
  <div class="flex md:justify-normal justify-between mb-10 md:mb-20">
    <button class="rounded-md bg-white text-black text-[16px] font-medium px-[32px] py-[16px] mr-10">What we do</button>
    <button class="text-white font-medium text-[16px] flex items-center">
      <i class="fa-solid fa-circle-play text-[19px] mr-2"></i>
      Play Video
    </button>
  </div>
  <div class="flex items-center">
    <h4 class="font-medium text-white text-[14px] md:text-[18px] min-w-fit">230 children under our care</h4>
    <div class="bg-white h-[1px] w-[100%] mx-5"></div>
    <h4 class="font-medium text-white text-[14px] md:text-[18px] min-w-fit">58 donations collected</h4>
  </div>
</div>

<div class="px-5 md:px-16 py-12 md:py-36 md:flex items-center">
  <div class="md:mr-20">
    <div class="flex items-center mb-5">
      <div class="bg-black h-[2px] w-[72px] mr-[20px]"></div>
      <h4 class="font-bold text-[16px] mt-0">KNOW ABOUT US</h4>
    </div>
    <div class="md:ml-[92px]">
      <h1 class="font-bold text-[30px] md:text-[40px] mb-5 md:mb-10">We provide a place for children with special needs</h1>
      <p class="mb-5 text-[16px] font-light">Lorem ipsum, dolum, tempore numquam optio libero assumenda ipsum eos eius officia itaque ad atque minus accusamus, cupiditate odit et nostrum blanditiis similique perspiciatis? Rem, voluptates aspernatur?</p>
      <p class="mb-5 md:mb-10 text-[16px] font-light">Lorem ipsum doenderit nam quod fuga itaque sint doloremque ratione aut laudantium, voluptate optio eum?
      Minus illum voluptates aliquid rem consectetur , maxime deleniti itaque voluptas, distinctio molestias nobis accusantium animi soluta perspiciatis harum ut eum quo sit perferendis eius?</p>
      <button class="rounded-md bg-[#F2C94C] text-black text-[16px] font-medium px-[32px] py-[16px] md:mr-10 md:mb-0 mb-5">Learn more</button>
    </div>
  </div>
  <div class="relative min-w-fit h-fit">
    <img src="kids-happy.png" alt="A bunch of happy kids" class="w-[480px] h-[580px]">
    <img src="play.svg" alt="A play button" class="absolute top-[50%] left-[50%] center-abs">
  </div>
</div>

<div class="px-5 md:px-16 py-12 md:py-24 md:flex items-center bg-[#FCEDC6]">
  <div class="md:mr-20">
    <div class="flex items-center mb-5">
      <div class="bg-black h-[2px] w-[72px] mr-[20px]"></div>
      <h4 class="font-bold text-[16px] mt-0">WHAT WE DO</h4>
    </div>
    <div class="md:ml-[92px]">
      <h1 class="font-bold text-[30px] md:text-[40px] mb-5 md:mb-10">Some services we provide</h1>
      <img src="justice-and-kid.png" alt="Justice with a little kid" class="w-[480px] h-[580px] md:hidden mb-5">
      <p class="mb-10 text-[16px] font-light">Lorem ipsum, dolum, tempore numquam optio libero assumenda ipsum eos eius officia itaque ad atque minus accusamus, cupiditate odit et nostrum blanditiis similique perspiciatis? Rem, voluptates aspernatur?</p>
      <div class="pl-5 border-l-2 border-solid border-[#E5E5E5] md:w-[500px]">
        <div class="flex items-start mb-5">
          <img src="building.svg" alt="An icon" class="mr-5">
          <div>
            <h4 class="font-bold text-[22px] leading-none mb-2">Family support</h4>
            <p class="font-light text-[16px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
          </div>
        </div>
        <div class="flex items-start mb-5">
          <img src="garden.svg" alt="An icon" class="mr-5">
          <div>
            <h4 class="font-bold text-[22px] leading-none mb-2">Health benefits</h4>
            <p class="font-light text-[16px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
          </div>
        </div>
        <div class="flex items-start mb-5">
          <img src="waves.svg" alt="An icon" class="mr-5">
          <div>
            <h4 class="font-bold text-[22px] leading-none mb-2">Scholarships</h4>
            <p class="font-light text-[16px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
          </div>
        </div>
        <div class="flex items-start">
          <img src="dog.svg" alt="An icon" class="mr-5">
          <div>
            <h4 class="font-bold text-[22px] leading-none mb-2">Therapy</h4>
            <p class="font-light text-[16px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="min-w-fit h-fit">
    <img src="justice-and-kid.png" alt="Justice with a little kid" class="w-[480px] h-[580px] hidden md:block">
  </div>
</div>

<div class="px-5 md:px-16 py-12 md:py-24">
  <div class="flex items-center mb-5">
    <div class="bg-black h-[2px] w-[72px] mr-[20px]"></div>
    <h4 class="font-bold text-[16px] mt-0">PROJECTS WE HAVE DONE</h4>
  </div>
  <h1 class="md:ml-[92px] font-bold text-[30px] md:text-[40px] mb-5 md:mb-10 md:w-[600px]">We are creating a place where children with special needs can thrive</h1>
  <div class="md:flex justify-center">
    <div class="relative w-fit h-fit md:mr-16 overlay rounded-[20px] md:mb-0 mb-3">
      <img src="left-1.JPG" class="w-[420px] h-[410px] rounded-[20px]" alt="An image of happy children during and outreach">
      <div class="absolute top-[50%] left-[50%] center-abs w-[80%] z-[2]">
        <h4 class="text-white font-bold text-[28px] mb-8">Mission smile 1k: Outdoor charity</h4>
        <p class="text-white font-light text-[16px] mb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        <button class="rounded-md bg-white text-black text-[16px] font-medium px-[32px] py-[16px] mr-10" routerLink="/project-read-more">Learn more</button>
      </div>
    </div>
    <div class="relative w-fit h-fit overlay rounded-[20px]">
      <img src="right-1.JPG" class="w-[420px] h-[410px] rounded-[20px]" alt="An image of happy children during and outreach">
      <div class="absolute top-[50%] left-[50%] center-abs w-[80%] z-[2]">
        <h4 class="text-white font-bold text-[28px] mb-8">Monthly public awareness</h4>
        <p class="text-white font-light text-[16px] mb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        <button class="rounded-md bg-white text-black text-[16px] font-medium px-[32px] py-[16px] mr-10"
          routerLink="/project-read-more"
        >Learn more</button>
      </div>
    </div>
  </div>
</div>

<div class="px-5 md:px-16 py-12 md:py-24 bg-black md:flex items-center">
  <div class="text-white md:mr-52">
    <h1 class="mb-4 font-bold text-[30px] md:text-[48px]">How we spend your donations and where it goes</h1>
    <p class="mb-5 md:mb-10 font-light text-[16px]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque placeat sint ducimus ratione nostrum, blanditiis accusamus porro odit veniam quo. Quo commodi velit esse earum, dignissimos quas laborum numquam doloremque!</p>
    <div class="md:flex grid grid-cols-2 md:mb-0 mb-5">
      <div class="flex items-center mr-6 min-w-fit">
        <div class="h-[16px] w-[16px] bg-[#BEF3C0] rounded-sm mr-2"></div>
        <h4 class="font-normal text-[16px]">40% child care home</h4>
      </div>
      <div class="flex items-center mr-6 min-w-fit">
        <div class="h-[16px] w-[16px] bg-[#AC94F1] rounded-sm mr-2"></div>
        <h4 class="font-normal text-[16px]">35% child care home</h4>
      </div>
      <div class="flex items-center mr-6 min-w-fit">
        <div class="h-[16px] w-[16px] bg-[#FFF0CA] rounded-sm mr-2"></div>
        <h4 class="font-normal text-[16px]">10% child care home</h4>
      </div>
      <div class="flex items-center mr-6 min-w-fit">
        <div class="h-[16px] w-[16px] bg-[#F9CF64] rounded-sm mr-2"></div>
        <h4 class="font-normal text-[16px]">10% child care home</h4>
      </div>
      <div class="flex items-center mr-6 min-w-fit">
        <div class="h-[16px] w-[16px] bg-[#F38FBF] rounded-sm mr-2"></div>
        <h4 class="font-normal text-[16px]">5% child care home</h4>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center">
    <div class="md:w-[375px] md:h-[375px] w-[275px] h-[275px]">
      <canvas baseChart type="doughnut" [data]=chartData></canvas>
    </div>
  </div>
</div>

<div class="px-5 md:px-16 md:py-24 py-12 justify-center items-center">
  <div class="relative w-[100%] h-fit overlay">
    <img src="left-1.JPG" alt="An image of happy kids" class="w-[100%] h-[384px] object-cover rounded-lg">
    <div class="absolute top-[50%] left-[50%] center-abs z-[2] w-[90%] md:w-[70%]">
      <h4 class="font-bold text-white text-[25px] md:text-[48px] text-center leading-tight mb-10">You can contribute to provide a place for children with special needs!</h4>
      <div class="flex justify-center">
        <button class="rounded-md bg-[#F2C94C] text-black text-[16px] font-medium px-[16px] md:px-[32px] py-[8px] md:py-[16px] mr-10" (click)="openModal()">Join as a volunteer</button>
        <button class="rounded-md bg-white text-black text-[16px] font-medium px-[16px] md:px-[32px] py-[8px] md:py-[16px] mr-10" routerLink="/donate">Donate</button>
      </div>
    </div>
  </div>
  <div class="flex items-center my-8 md:my-16">
    <h4 class="font-medium text-[25px] md:text-[40px] min-w-fit mr-10">Our Events</h4>
    <div class="h-[1px] bg-[#E5E5E5] w-[100%]"></div>
  </div>
  <div class="md:flex justify-between">
    <div class="flex items-start cursor-pointer bg-[#F2C94C] p-5 md:p-10 rounded-xl w-full md:w-[45%] md:mb-0 mb-5" routerLink="/events-read-more">
      <div class="mr-5">
        <h1 class="font-medium text-[30px] md:text-[48px] leading-none">13</h1>
        <h5 class="font-medium text-[12px] md:text-[16px]">APR</h5>
      </div>
      <div class="flex items-center">
        <div class="w-[80%]">
          <div class="flex items-center mb-3">
            <h4 class="font-medium text-[12px] md:text-[16px] mr-5">NEXT EVENTS</h4>
            <div class="h-[2px] bg-black w-[44px]"></div>
          </div>
          <h4 class="font-medium text-[20px] md:text-[28px] leading-tight">A day with our wonderful children</h4>
        </div>
        <img src="arrow.svg" alt="An image of an arrow" class="w-[50px] h-[50px]">
      </div>
    </div>
    <div class="flex items-start cursor-pointer bg-[#F2C94C] p-5 md:p-10 rounded-xl w-full md:w-[45%]" routerLink="/events-read-more">
      <div class="mr-5">
        <h1 class="font-medium text-[30px] md:text-[48px] leading-none">25</h1>
        <h5 class="font-medium text-[12px] md:text-[16px]">APR</h5>
      </div>
      <div class="flex items-center">
        <div class="w-[80%]">
          <div class="flex items-center mb-3">
            <h4 class="font-medium text-[12px] md:text-[16px] mr-5">NEXT EVENTS</h4>
            <div class="h-[2px] bg-black w-[44px]"></div>
          </div>
          <h4 class="font-medium text-[20px] md:text-[28px] leading-tight">Seminar: Caring for children with autism</h4>
        </div>
        <img src="arrow.svg" alt="An image of an arrow" class="w-[50px] h-[50px]">
      </div>
    </div>
  </div>
</div>

<fuf-footer></fuf-footer>